---
import type { Orders } from "@/types"
import { formatDate, formatCurrency } from "@/utils"

interface Props {
	order: Omit<Orders, "user_id">
}

const { order } = Astro.props
---

<li class="app-section grid gap-4 grid-cols-2">
	<span>
		<span class="font-bold">{order.status}</span> - ordered at{" "}
		{formatDate(order.created_at)}
	</span>

	<span class="justify-self-end">
		total:{" "}
		{
			formatCurrency(
				order.details.reduce(
					(acc, detail) => detail.quantity * Number(detail.price) + acc,
					0
				)
			)
		}
	</span>

	<ul class="ml-4">
		{
			order.details.map((detail) => (
				<li class="flex gap-4">
					<span>{detail.menu_name}</span>
					<span>{detail.quantity}</span>
					<span>x {formatCurrency(Number(detail.price))} =</span>
					<span>
						{formatCurrency(Number(detail.quantity * Number(detail.price)))}
					</span>
				</li>
			))
		}
	</ul>
</li>
