---
import CoffeeImage from "@/assets/images/guy-basabose-FzdEbrA3Qj0-unsplash.jpg"
import AnotherCoffeeImage from "@/assets/images/nathan-dumlao-wCJ1WwrAHW0-unsplash.png"
import Layout from "@/layouts/Layout.astro"
import MenuItem from "@/components/MenuItem.astro"
import { Button } from "@/components/ui/button"
import { Input } from "@/components/ui/input"
import { Image } from "astro:assets"
import { Search } from "lucide-vue-next"

import MenuServiceImpl from "@/lib/services/menu"
import CategoryServiceImpl from "@/lib/services/category"

const menuService = new MenuServiceImpl()
const menus = await menuService.getMenus({ limit: 9, with: ["price"] })

const categoryService = new CategoryServiceImpl()
const categories = await categoryService.getCategories()

const session = Astro.locals.session
---

<Layout title="Home - Velvet Cup">
	<header class="bleed-section grid grid-cols-6">
		<h1 class="text-6xl col-span-3">
			{
				session ? (
					<span>Hello, {session?.user.name}</span>
				) : (
					<span>Hey there!</span>
				)
			}
		</h1>

		<p class="col-span-6 order-last">
			What are you craving? Mocha, cappuccino, latte? We've got you covered.
		</p>

		<form class="flex items-center gap-4 col-span-3" action="/menu">
			<Input
				type="search"
				name="query"
				id="query"
				placeholder="what are you looking for?"
			/>

			<select
				id="category"
				name="category"
				class="bg-transparent py-2 px-3 text-sm rounded-md border border-1 border-input"
			>
				<option selected disabled>Choose a category</option>
				{
					[{ id: 0, name: "All" }].concat(categories).map((category) => (
						<option
							class="bg-transparent"
							value={category.id}
							selected={category.id === 1}
						>
							{category.name}
						</option>
					))
				}
			</select>

			<Button type="submit">
				<Search />
			</Button>
		</form>
	</header>

	<section class="bleed-section row-span-4">
		<ul class="grid gap-4 md:grid-cols-3">
			{menus.map((menu) => <MenuItem menu={menu} />)}
		</ul>

		<Button as="a" href="/menu">See our menu</Button>
	</section>

	<section class="bleed-section md:col-start-3 grid grid-cols-subgrid">
		<figure class="col-span-full md:col-span-5">
			<Image
				src={CoffeeImage}
				width={800}
				height={450}
				alt=""
				class="size-full object-cover aspect-video"
			/>
		</figure>

		<div class="col-span-full md:col-span-5 md:order-first">
			<h2 class="text-4xl">Love coffee? You’re in the right place.</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Est id eligendi
				fugit dolores, fuga impedit vel, temporibus sed repudiandae nulla iste
				cum reprehenderit accusantium? Eaque cum sed recusandae odit esse.
			</p>

			<Button as-child client:visible>
				<a href="/menu"> see our menu </a>
			</Button>
		</div>
	</section>

	<section class="bleed-section md:col-start-3 grid grid-cols-subgrid">
		<figure class="col-span-full md:col-span-5">
			<Image
				src={AnotherCoffeeImage}
				alt=""
				class="size-full object-cover aspect-video"
			/>
		</figure>

		<div class="col-span-full md:col-span-5">
			<h2 class="text-4xl">Got passion making coffee? Join us!</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
				aliquid, id pariatur laborum ipsam accusantium distinctio dolore
				debitis. Velit fugit minus possimus nemo tempora debitis inventore
				dicta. Ipsum, odit itaque.
			</p>

			<Button as-child client:visible>
				<a href="/jobs"> see available roles </a>
			</Button>
		</div>
	</section>

	<section class="bleed-section md:col-start-3 grid grid-cols-subgrid">
		<figure class="col-span-full md:col-span-5">
			<iframe
				class="max-w-full"
				src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d123.77587063505472!2d25.00265413196569!3d60.24007131667421!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sid!4v1738077211428!5m2!1sen!2sid"
				width="800"
				height="450"
				style="border:0;"
				allowfullscreen=""
				loading="lazy"
				referrerpolicy="no-referrer-when-downgrade"></iframe>
		</figure>

		<div class="col-span-full md:col-span-5">
			<h2 class="text-4xl">Our base</h2>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus
				doloremque quis quod odio adipisci aliquam unde, reprehenderit dolor
				minus tenetur asperiores eum vero, veniam rem dignissimos architecto
				sint. Voluptatem, dolorem.
			</p>
		</div>
	</section>
</Layout>

<style>
	section {
		@apply py-12;
	}

	section img {
		@apply rounded-lg;
	}

	section figure + div {
		@apply flex flex-col gap-4 items-start;
	}
</style>
