---
import Layout from "@/layouts/Layout.astro"
import MenuItem from "@/components/MenuItem.astro"
import { Input } from "@/components/ui/input"
import { Button } from "@/components/ui/button"
import { Search } from "lucide-vue-next"

import { db } from "@/database/"
import { menuQuery as initialMenuQuery } from "@/database/queries"

const params = Astro.url.searchParams

const searchQuery = params.get("query") ?? ""
const categoryQuery = params.get("category") ?? 0

let menuQuery = initialMenuQuery

if (searchQuery !== "") {
	menuQuery = menuQuery.where("menu.name", "ilike", `%${searchQuery}%`)
}

if (categoryQuery !== 0) {
	menuQuery = menuQuery.where("menu.category_id", "=", Number(categoryQuery))
}

const menus = await menuQuery.where("deleted_at", "is", null).execute()
const categories = await db.selectFrom("menu_categories").selectAll().execute()
---

<Layout title="Our menu - Velvet Cup" description="List of our menu">
	<header class="bleed-section grid grid-cols-6 self-start">
		<h1 class="text-4xl col-span-3">Our menu</h1>
		<p class="order-last col-span-6">Showing {menus.length} items.</p>

		<form class="flex gap-4 col-span-3">
			<Input
				name="query"
				id="query"
				placeholder="what are you looking for?"
				default-value={searchQuery}
			/>
			<select
				id="category"
				name="category"
				class="bg-transparent py-2 px-3 text-sm rounded-md border border-1 border-input"
			>
				{
					[{ id: 0, name: "All" }].concat(categories).map((category) => (
						<option
							class="bg-transparent"
							value={category.id}
							selected={category.id === Number(categoryQuery)}
						>
							{category.name}
						</option>
					))
				}
			</select>
			<Button type="submit">
				<Search />
			</Button>
		</form>
	</header>

	<section class="bleed-section">
		<ul class="grid grid-cols-3 gap-4">
			{menus.map((menu) => <MenuItem {menu} />)}
		</ul>
	</section>
</Layout>
