---
import Layout from "@/layouts/Layout.astro"
import { Image } from "astro:assets"
import MenuOrder from "@/components/MenuOrder.vue"
import MenuItem from "@/components/MenuItem.astro"

import KyselyMenuServiceFactory from "@/lib/factories/menu.factory"

const { id: menuId } = Astro.params

if (isNaN(Number(menuId))) {
	return Astro.rewrite("/404")
}

const session = Astro.locals.session

const menuService = new KyselyMenuServiceFactory().createService()
const menu = await menuService.getMenu(Number(menuId))

if (!menu) {
	return Astro.rewrite("/404")
}

const relatedMenus = await menuService.getMenus({ limit: 9, with: ["price"] })
---

<Layout title={`${menu.name} - Velvet Cup`} bodyClass="content-start">
	<header class="main-section md:col-start-2 md:col-end-6">
		<figure>
			<Image
				src={menu.image ?? "/Image_not_available.png"}
				width={800}
				height={450}
				alt={menu.name}
				class="size-full object-cover aspect-video rounded-lg"
				alt=""
			/>
		</figure>
	</header>

	<section
		class="app-section main-section *:col-span-full md:col-start-6 md:col-end-[-2] grid grid-cols-subgrid gap-4"
	>
		<h1 class="text-4xl">{menu.name}</h1>
		<p>{menu.description}</p>

		<p>Choose a variant</p>

		<MenuOrder
			userId={session?.user?.id}
			variants={menu.variants}
			menuId={menu.id}
			client:load
		/>
	</section>

	<section class="bleed-section">
		<h2 class="text-2xl mb-4">Other items you might like</h2>

		<ul class="grid md:grid-cols-3 gap-4">
			{relatedMenus.map((item) => <MenuItem menu={item} />)}
		</ul>
	</section>
</Layout>
