---
import CoffeeImage from "@/assets/images/nathan-dumlao-nBJHO6wmRWw-unsplash.jpg"
import Layout from "@/layouts/Layout.astro"
import { db } from "@/database"
import { Image } from "astro:assets"
import { jsonArrayFrom } from "kysely/helpers/postgres"

const { id: menuId } = Astro.params

if (isNaN(Number(menuId))) {
	return Astro.rewrite("/404")
}

const menu = await db
	.selectFrom("menu")
	.select((eb) => [
		"menu.id",
		"menu.category_id",
		"menu.name",
		"menu.description",
		"menu.image",
		jsonArrayFrom(
			eb
				.selectFrom("menu_variants as mv")
				.leftJoin("menu_variant_options as mvo", "mvo.variant_id", "mv.id")
				.leftJoin("menu_option_values as mov", "mov.id", "mvo.option_value_id")
				.select(["mv.id", "mv.name", "mv.price", "mov.name as option_name"])
				.whereRef("mv.menu_id", "=", "menu.id")
		).as("variants"),
	])
	.where("id", "=", Number(menuId))
	.executeTakeFirst()

if (!menu) {
	return Astro.rewrite("/404")
}
---

<Layout title={`${menu.name} - Velvet Cup`}>
	<header class="col-span-full md:col-start-2 md:col-end-6">
		<figure>
			<Image
				src={CoffeeImage}
				width={800}
				height={450}
				class="size-full object-cover aspect-video"
				alt=""
			/>
		</figure>
	</header>

	<section
		class="details auto-rows-min col-span-full md:col-start-6 md:col-end-[-2] grid grid-cols-subgrid"
	>
		<h1 class="text-4xl">{menu.name}</h1>

		<ul>
			{
				menu.variants.map((variant) => (
					<li>
						<span>
							{variant.name} -{" "}
							{Intl.NumberFormat("id-ID", {
								style: "currency",
								currency: "IDR",
							}).format(Number(variant.price))}
						</span>
						<span>{variant.option_name}</span>
					</li>
				))
			}
		</ul>

		<p>Pilih varian</p>
		<ul class="flex gap-4">
			{
				menu.variants.map((variant) => (
					<li class="px-8 py-4">{variant.option_name}</li>
				))
			}
		</ul>
	</section>
</Layout>

<style>
	.details > * {
		@apply col-span-full;
	}
</style>
