---
import Layout from "@/layouts/Layout.astro"
import { Image } from "astro:assets"
import MenuOrder from "@/components/MenuOrder.vue"

import { db } from "@/database"
import { jsonArrayFrom } from "kysely/helpers/postgres"

const { id: menuId } = Astro.params

if (isNaN(Number(menuId))) {
	return Astro.rewrite("/404")
}

const menu = await db
	.selectFrom("menu")
	.select((eb) => [
		"menu.id",
		"menu.category_id",
		"menu.name",
		"menu.description",
		"menu.image",
		jsonArrayFrom(
			eb
				.selectFrom("menu_variants as mv")
				.leftJoin("menu_variant_options as mvo", "mvo.variant_id", "mv.id")
				.leftJoin("menu_option_values as mov", "mov.id", "mvo.option_value_id")
				.leftJoin("menu_options as mo", "mov.menu_option_id", "mo.id")
				.select([
					"mv.id",
					"mv.name",
					"mv.price",
					"mov.name as option_value",
					"mo.name as option_name",
				])
				.whereRef("mv.menu_id", "=", "menu.id")
		).as("variants"),
	])
	.where("id", "=", Number(menuId))
	.executeTakeFirst()

if (!menu) {
	return Astro.rewrite("/404")
}
---

<Layout title={`${menu.name} - Velvet Cup`} bodyClass="content-start">
	<header class="main-section md:col-start-2 md:col-end-6">
		<figure>
			<Image
				src={menu.image ?? "/Image_not_available.png"}
				width={800}
				height={450}
				alt={menu.name}
				class="size-full object-cover aspect-video"
				alt=""
			/>
		</figure>
	</header>

	<section
		class="main-section details md:col-start-6 md:col-end-[-2] grid grid-cols-subgrid gap-4"
	>
		<h1 class="text-4xl">{menu.name}</h1>
		<p>{menu.description}</p>

		<p>Choose a variant</p>

		<MenuOrder variants={menu.variants} menu_id={menu.id} client:load />
	</section>
</Layout>

<style>
	.details > * {
		@apply col-span-full;
	}
</style>
